html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: rgba(221, 214, 246, 0.75);
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.main-input, .add-button {
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    
}

.main-input {
    color: #4c4034;
    background-color: rgb(234, 237, 241);
    margin: 0.2em 0 1em;
}

.main-input::placeholder {
    color:rgba(64, 59, 59, 0.2);
}

.main-input:focus::placeholder {
    color: transparent;
} 

.main-input:hover,
.main-input:focus,
.add-button:hover,
.add-button:focus {
    outline-style: none;
    outline-color: transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);;
}

.add-button {
    color: rgb(76, 64, 52);
    background-color: rgb(239, 214, 218);
    cursor: pointer;
}

.add-button:hover,
.add-button:focus {
    background-color: rgb(240, 191, 199);

}

.label {
    font-size: .8rem;
    color: rgb(76, 64, 52);
}

.list-el {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap:.8em;
}

.list-item {
    padding: 15px 20px;
    background-color: rgb(255, 253, 248);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    flex-grow: 1;
    font-size: 1.2rem;
}